extends layout

block content
    br
    h1(style="text-align:center")=title 
    .info.text-center
      div
        .containter-fluid
          br
          .row
            br
            br
            .col-md-6.form-group
              br
              h1(style="text-align:center")=Mision
              br
              h3(style="text-align:leftñ margin")=ContentM 
            .col-md-6.form-group 
              br
              br
              img(src="/images/mision.svg", alt="phone", width="95%",)
        br
        br
        .containter-fluid
          br
          .row
            br
            br
            .col-md-6.form-group 
              br
              br
              img(src="/images/vision.svg", alt="phone", width="90%",)
            .col-md-6.form-group
              br
              br
              br
              h1(style="text-align:center")=Vision
              br
              h3(style="text-align:leftñ margin")=ContentV 