extends layout
block content
    article
        br
        h1(style="text-align:center ")=Objetos
        
    .info.text-center
        div
            .containter-fluid
                br
                .row
                    br
                    br
                    .col-md-6.form-group 
                        br
                        br
                        img(src="/images/funcionamiento.svg", alt="phone", width="95%",)
                    .col-md-6.form-group
                        br
                        br
                        table.table.table-borderless
                            thead
                                tr
                                    th(scope="col")=Oficina
                                    th(scope="col")=Casa
                                    th(scope="col")=Escuela
                                    th(scope="col")=Calle
                            tbody   
                                tr
                                    td=Escritorio
                                    td=Cama
                                    td=Escritorio
                                    td=Carro
                                tr
                                    td=Lampara
                                    td=Lavadora
                                    td=Lapiz
                                    td=Semaforo
                                tr
                                    td=Computadora
                                    td=Microondas
                                    td=Papel
                                    td=Basurero
                                tr
                                    td=Impresora
                                    td=Silla
                                    td=Cartuchera
                                    td=Motocicleta
    