extends layout

block content
  article
    
    .info.text-center
      div
        .containter-fluid
          br
          .row
            br
            br
            .col-md-6.form-group
              .clearfix
                img.float-left(src="/images/logo.png", alt="logo", width="200px", height="200px", style=)
              br
              h1(style="text-align:left")=V1
              h1(style="text-align:left")=V2
              h3(style="text-align:left")=V3
              br
              div(style="padding-right:40px")
                a.btn.btn-outline-primary.btn-lg(type="button" style="margin-right:40px;  color: #01197C; border-color: #01197C;" href="/visionTool") Pruébalo ahora  
                a.btn.btn-outline-primary.btn-lg(type="button" style="margin-right:40px;  color: #01197C; border-color: #01197C;" href="/about/") Conócenos  

                      
            .col-md-6.form-group 
              img(src="/images/phone.png", alt="phone", width="50%",   )
    br
    br
    .info.text-center
      div
        .containter-fluid
          br
          .row
            br
            br
            .col-md-6.form-group 
              br
              br
              img(src="/images/home2nd.svg", alt="phone", width="95%",)
            .col-md-6.form-group
              br
              h1(style="text-align:left")=Caract
              br
              h3(style="text-align:left")=Descrip
    

                        
            

    